#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}.button{width:50%}.forget{float:right}.input{border-top:none}option{font-weight:700}.profitdot{display:inline-block;width:3px;height:3px;background-color:red;border-radius:50%}
/*# sourceMappingURL=app.c15139c52460e8f913055f8ca9865aab.css.map */