<template>
  <div>
<div class="runner">    
  <b> Thong tin ca nhan </b></div>


    <ul>
      <li v-for="info in list">
	{{info.title}}: <input class="input" :value="info.value">
      </li>
    </ul>
    <a class="button is-primary">Cap nhat</a>
    <p> Ban can dien thong tin ve tai khoan ngan hang chinh xac. Thong tin tai khoan khong the sua doi. La tai khoan dung de rut tien. </p>
    
      
      
  </div>
</template>

<style scoped>
  .runner {
  text-align: left;
  border-bottom: 1px solid grey;
  margin-left: 2%;
  margin-bottom: 2%;
  }
  
  </style>

<script>

  let personal = [
  {
  title: 'Ho va ten',
  value: 'Nguyen Van A',
  },
  {
  title: 'Ngay thang nam sinh',
  value: '21/11/1996',
  },
  {
  title: 'So CMND',
  value: '1234567',
  },
  {
  title: 'Dia chi',
  value: 'Tran Cung - Ha Noi',
  },
  {
  title: 'So tai khoan',
  value: '210600000',
  },
  {
  title: 'Ngan hang',
  value: 'BIDV Ha Noi',
  },
  {
  title: 'Chi nhanh',
  value: 'nvm@gmail.com',
  }
  ]

  export default {
  name: 'Canhan',
  data(){
  return {
  list: personal

  }

  }
}

  
</script>
