<template>
<div>
  <div class="columns">
    <div class="column">                                                             <div class="symbol">                                                             <p><span class="symbol-text">Mã đầu tư:</span>
          <span class="select">                                                            <select v-model="selected" class="select-box">
              <option v-for="(symbol, i) in codes" :value="i">  {{ symbol.code }} </option>
	    </select>
	  </span>
	</p>
      </div>
      <table class="table is-narrow">
	<tr>
          <td class="cell"> Gía trị:</td>
	  <td class="cell">
	    <span class="profitdot" :style="{backgroundColor: codes[selected].isprofit}"></span> </td>
	  <td class="cell"> <strong style="font-weight:bold">{{codes[selected].value}}
	  </strong> </td>
	  <td class="cell">
	    <span :style="{color: codes[selected].isprofit}">{{codes[selected].profit}} ({{codes[selected].rate}}) </span>                                                   </td>        </tr>                                                        <tr>                                                                          <td class="cell">      Vốn:</td>
	  <td class="cell"></td>
	  <td class="cell"> {{codes[selected].capital}} </td>
	  <td class="cell">({{codes[selected].percentage}} tài sản) </td>                                                     </tr>
      </table>
      <div>
	<div class="tabs is-centered">                                                   <ul>                                                                             <li class="tab" v-bind:class="{activetab: activeChart}">
              <a class="tablinks" @click="openChart"> <div class="up" v-bind:class="{activearrow: activeChart}"></div>
		<span> Đồ thị </span> </a> </li>                                              <li class="cushion"></li>
            <li class="tab" v-bind:class="{activetab: !activeChart}">
	      <a class="tablinks" @click="openInfo">
		<div class="up" v-bind:class="{activearrow: !activeChart}"></div>
		<span> Thông tin </span> </a> </li>
        </ul>                                                                        </div>
	<div id="chart" class="tabcontent" v-if="activeChart">                           <figure><img :src="codes[selected].chart.link"></figure>                     </div>                                                                         <div id="info" class="tabcontent" v-else>                                        <b>Danh mục đầu tư tiêu biểu </b> <br>                                         {{ codes[selected].info.investedin }}   <br>                                   <b> Tổng quan về qũy </b>       <br>                                           {{ codes[selected].info.overall }}      <br>                                   <b> Chiến lược đầu tư </b>      <br>                                           {{ codes[selected].info.strategy }}     <br>                                 </div>
	<router-view />                                                         </div>                                                                       </div>                                                                       </div>
  <table class="bottom-table">
    <tr>
      <td class="first-cell"> Tối đa:</td><td class="centered-cell"> 100.000.000 đ </td><td class="nocell centered-cell"> <i class="arrow left" @click="changeaction"></i>  <a href="#" class="button invest-button" v-if="codes[selected].action"> <b class="button-text">ĐẦU TƯ</b> </a>   
	<a href="#" class="button withdraw-button" v-else> <b class="button-text">RÚT VỐN</b> </a>      <i class="arrow right" @click="changeaction"></i></td></tr>
    <tr>
      <td class="nocell first-cell"> Giá trị:</td>
      <td class="nocell centered-cell"> <i class="arrow left"></i> &nbsp; 50.000 đ &nbsp;<i class="arrow right"></i> </td>
      <td class="nocell centered-cell"><a href="#" class="button open-button"><b class="button-text"> MỞ LỆNH</b> </a>                           </td></tr>
  </table>          <br>    
</div>
</template>

<style >

  .symbol {
  text-align: right;
  position: relative;
  font-size: 0.9em;
  }
  .select-box {
  border: none !important;
  font-weight: bold;
  }

    option {
  font-weight: bold
  }
    table {
	font-size: 0.9em;
	}
  .symbol-text {
  position: absolute;
  top: 15%;
  right: 130px;
  }
  .profitdot {
  border-radius: 50%;
  position: absolute;
  top: 45%;
    display: inline-block;
  width: 3px;
  height: 3px;
  background-color: red;

  }
  .cell {
  border: none !important;
  position: relative;
  }
  ul {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid grey !important;
  }

  
  .up {
      transform: rotate(-135deg);
      background-color: white;
      }
  
  .tablinks {
      border: none !important;
      position: relative;
  }
  .activearrow
  {
	border: solid grey;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2.5px;
      position: absolute;
      bottom: -3px;
	}

  .activetab {
      
  font-weight: bold;
  }

  .cushion {
      width: 25%;
      }

  #info {

  text-align: left;
  margin-left: 3%;
  overflow: scroll;
  font-size: 0.9em;
  }

  .bottom-table {
      font-size: 0.9em;
      
      position: fixed;
      bottom: 10%;

      }
  .nocell {

      border: none !important;
      width: 28%;
      
  }
  .centered-cell {
      text-align: center;
      width: 20%;

  }

  i {
      border: solid grey;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
  }

  .right {
      transform: rotate(-45deg);
  }
  .left {
      transform: rotate(135deg);
      }
  
  .open-button {
      color: white;
      background-color: #ff8e01;
      border: none;

  }
  .invest-button {
      color: white;
      background-color: #0bbe32;
      border: none;
  }
  .withdraw-button {
      color: white;
      background-color: #f00;
      border: none;
  }
  .button-text {
      font-size: 0.9em;
      
  }
  .first-cell {
      width: 20%;
      padding-left: 5%;
      }
</style>


<script>
  let symbols = [
  {
   code: 'ETFVN30',
   value: '110.000.000',
   profit: '+10.000.000',
   isprofit: 'green',
   rate: '+10%',
   capital: '100.000.000',
   percentage: '10%',
   chart: {
   link: "https://bulma.io/images/placeholders/128x128.png"
   },
   info: {
   investedin: ['AAA', 'BBB'],
   overall: 'Quỹ ETF là quỹ đầu tiên ở Việt nam',
   strategy: 'Quỹ đầu tư vào SME',
   },
   action: true,
  },
      
  {
   code: 'AAA',
   value: 99000000,
   profit: '-10000000',
   isprofit: 'red',
   rate: '-10%',
   capital: 100000000,
   percentage: '10%',
   chart: {
   link: "https://bulma.io/images/placeholders/128x128.png"
   },
   info: {
   investedin: ['AAA', 'CCC'],
   overall: 'Quỹ AAA là quỹ do công ty A lập',
   strategy: 'Quỹ đầu tư vào LE',
   },
   action: false,
  },
  ]

  export default {
   name: 'Profile',
   data () {
    return {
     asset: 100000000,
     profit: 10000000,
     rate: '+10%',
     codes: symbols,
     selected: 0,
     activeChart: true,
    }
   },
    methods: {
	changeaction(){

	},
    openChart() {
     this.activeChart = true;
    },
    openInfo(){
	this.activeChart=false;
   }
 }
}

</script>


