<template>
  <div>
    <div class="page1" v-if="show1">
  <b>Doi mat khau</b>

  <p> Mat khau cu: <input class="input" type="password" > </p>
  <p> Mat khau moi: <input class="input" type="password"> </p>
  <p> Xac nhan mat khau moi: <input class="input" type="password"> </p>
    </div>
    <div v-else>
      <i class="fa fa-check"></i>
      
      </div>
    
  <a class="button is-primary" @click="toggle"> {{label}} </a>
  
  </div>
</template>

<script>

  export default {
  name: 'Doimatkhau',
  data(){
  return {
  show1: true,
  label: 'Doi mat khau',
  }
  },

  methods: {
  toggle(){
  this.show1 = !this.show1
  if (this.show1 == true) {

  this.label = 'Doi mat khau';
  } else {
  this.label = 'Dong lai';
  }
  }

  }

  }
  
</script>
