<template>
  <div>

    <table class="table is-fullwidth is-bordered tab-menu">
    <tr>
      <td @click="openPage1" v-bind:class="{activetabmenu: show1}" ><b>Lich su dau tu</b></td>
      <td @click="openPage2" v-bind:class="{activetabmenu: !show1}" ><b>Lich su nap/rut tien</b></td>
    </tr>
</table>

    <table class="table is-fullwidth" v-if="show1">
    
<tr v-for="element in list">
<td>	<b v-bind:style="{color: element.actioncolor}">{{ element.action }}</b><br>

	{{element.time}}
</td>
<td class="right-cell">
  	<b> {{element.code}} </b><br>
	{{element.amount}} d
</td>	
   

    </tr>
 
  </table>
  <table v-else class="table is-fullwidth">
    <tr v-for="cash in cashlist">
<td>	<span v-bind:style="{color: cash.actioncolor}"><b>{{cash.action}}</b></span> - <span v-bind:style="{color: cash.statuscolor}"><small>{{cash.status}}</small></span>

	<br>
  <p> {{cash.time}}</p>

  </td><td class="right-cell"><br>{{cash.amount}}</td>
      </li>
      
      </tr>


  </table>
  
  </div>
</template>

<script>

  let history = [
  {
  action: 'Dau tu',
  actioncolor: 'green',
  code: 'ETFVN30',
  time: '10:00 20/3/2019',
  amount: '100000000',
  },
  {
  action: 'Rut von',
  actioncolor: 'red',
  code: 'VFM4',
  time: '10:00 20/3/2019',
  amount: '100000000',
  },
  {
  action: 'Dau tu',
  actioncolor: 'green',
  code: 'ETFVN30',
  time: '10:00 20/3/2019',
  amount: '100000000',
  }
  ]

  let cashflow = [
  {
  action: 'Nap them',
  actioncolor: 'green',
  status: 'Thanh cong',
  statuscolor: 'green',
  time: '10:00 20/3/2019',
  amount: '100.000.000',
  },
  {
  action: 'Rut tien',
  actioncolor: 'red',
  status: 'Dang cho',
  statuscolor: 'yellow',
  time: '10:00 20/3/2019',
  amount: '100.000.000',
  },
  {
  action: 'Nap them',
  actioncolor: 'green',
  status: 'Da huy',
  statuscolor: 'red',
  time: '10:00 20/3/2019',
  amount: '100.000.000',
  },
  {
  action: 'Ung tien',
  actioncolor: 'yellow',
  status: 'Thanh cong',
  statuscolor: 'green',
  time: '10:00 20/3/2019',
  amount: '100.000.000',
  },
 
  ]

  export default {
  name: 'Lichsu',
  data () {
  return {
  show1: true,
  list: history,
  cashlist: cashflow,
  
  }
  },
  methods: {
  openPage1(){
  this.show1 = true
  },
  openPage2(){
  this.show1 = false
  }

  }
  
  }
  
</script>
