<template>
  <div>
    <p>Lien he</p>
    <p> Cong ty TNHH IT<br>
      Dia chi: Trung Kinh - Ha Noi<br>
      SDT: 01332222<br>
      Email: info@gmail.com<br>
      </p>
      
      
    
    </div>
</template>
