<template>
<div>
  <div class="runner"> <strong>Nap them</strong> </div><br>
    <div class="page1" v-if="show1">
      
      <table class="table is-fullwidth">
	<tr><td class="nocell">
       So tien nap them: </td> 
	<td class="nocell"><input class="input" :value="amount"></td>
      </tr>
      <tr><td class="nocell"> Ngan hang:</td><td class="nocell">
	  <div class="select">
	  <select>
	  <option> Ngan hang TMCP Quan doi </option>
	  </select>
	  </div>
      </td></tr>
      </table>
    </div>
    <div class="page2" v-else>
      <table class="table is-fullwidth">
      <tr><td class="nocell"> So tai khoan:</td><td class="nocell">  <input class="input" value="1234"></td><td class="nocell"></td></tr>
      <tr><td class="nocell">Ten tai khoan:</td><td class="nocell"> <input class="input" value="Nguyen Van A"></td><td class="nocell"></td></tr>
      <tr><td class="nocell"> Chi nhanh:</td><td class="nocell"> <input class="input" value="Chi nhanh Ha Noi"></td><td class="nocell"></td></tr>
      <tr><td class="nocell"> Cu phap chuyen tien:</td> <td class="nocell"><input class="input" value="abc xyz"> </td><td class="nocell"><b style="color:#ff8e01">Copy</b></td></tr>

      </table>
            <a class="button invest-button">Hoan thanh</a>
      </div>
  <br>
  <a class="button invest-button" @click="toggle">{{label}}</a>
  </div>
</template>
<style scoped>
  .runner {
  text-align: left !important;
  margin-left: 2%;
  border-bottom: 2px solid lightgrey;
  }
  .select select{
  background-color: lightgrey;
  }
  .input {
  text-align: center;
  background-color: lightgrey;
  }
  .invest-button {
  width: 30%;
  }
  </style>
<script>

  export default {
  name: 'Napthem',
  data () {
  return {
  show1: true,
  label: 'Tiep tuc',
  amount: '10.000.000 d'
  }
  },
  methods: {
  toggle() {
  this.show1 = !this.show1;
  if (this.show1 == true) {
  this.label = 'Tiep tuc'
  } else {
  this.label = 'Quay ve'
  }
  }
  }

  }
  
  </script>
