<template>

<div>
  <div class="banner">

    <div class="avatar-container">
      <figure class="avatar">
 	<img :src="avatar">
      </figure>
    </div>

    <div class="account-info-container">
      <p class="name"> {{ name }} </p>
      <p class="account-info"> Tài sản: {{ asset }} đ <br>
 	Lợi nhuận: {{ profit }} đ ({{ rate }}) </p>
    </div>

    <div class="add-button-container">
      <router-link to="/Profile/napthem" class="add-button"><span class="add-button-label"> NẠP THÊM</span> </router-link>
    </div>
    
  </div>

  <div class="view">
    <router-view />
  </div>

  <div class="bottom-buttons">

      <div class="bottom-button-container"><router-link to="/Profile/tonghop" class="bottom-button" v-bind:class="{activebutton: activeButton == 0}" @click="open0"><div class="icon is-small"><i class="fas fa-address-card"></i></div>
	  <div> Tổng hợp </div>
	</router-link>
      </div>

      <div class="bottom-button-container"><router-link to="/Profile/taikhoan" class="bottom-button" v-bind:class="{activebutton: activeButton == 1}" @click="open1"><span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
	  <p> Tài khoản </p>
	</router-link>
      </div>
      <div class="bottom-button-container">
	<router-link to="/Profile/dautu" class="bottom-button" v-bind:class="{activebutton: activeButton == 2}" @click="open2"><span class="icon is-small"><i class="fas fa-funnel-dollar" aria-hidden="true"></i></span>
	  <div> Đầu tư </div>
	</router-link>
      </div>
      <div class="bottom-button-container"><router-link to="/Profile/lichsu" class="bottom-button" v-bind:class="{activebutton: activeButton == 3}" @click="open3"><span class="icon is-small"><i class="fas fa-history" aria-hidden="true"></i></span>
	  <div> Lịch sử </div>
	</router-link>
      </div>
      <div class="bottom-button-container"><router-link to="/Profile/tienich" class="bottom-button" v-bind:class="{activebutton: activeButton == 4}" @click="open4"><span class="icon is-small"><i class="fas fa-snowflake" aria-hidden="true"></i></span>
	  <div> Tiện ích </div>
	</router-link>
      </div>
 
  </div>
</div>
</template>

<style>

  /* BANNER */

  * {
  box-sizing: border-box;
  }
  
  .banner {
  background-color: #0bbe32;
  display: flex;
  flex-flow: row wrap;
  }
  .avatar-container {
  width: 15%;
  padding: 1%;
  }
  .avatar img {
  border-radius: 50%;
  }
  .account-info-container {
  width: 50%;
  text-align: left;
  color: white;
  padding-left: 1%;
  margin-top: 1%;

  }
  .name {
  font-weight: bold;
  }
  .add-button-container {
  width: 35%;

  position: relative;
  }
  .add-button {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;

  }

  .add-button-label {
  background-color: #ff8e01;
  font-weight: bold;
  color: white;
  border-radius: 5%;
  padding: 3% 10%;
  box-shadow: 1px 1px 1px grey;
  }

  @media screen and (max-width: 400px) {
  .account-info-container {
  font-size: 1.1em;
  padding-top: 1%;
  padding-bottom: 1%;
  }

  .account-info {
  font-size: 0.7em;
  }

  .add-button-label {
  font-size: 0.95em;

  }
  
  }
  

  /* BOTTOM BUTTONS */

  .bottom-buttons {
      display: flex;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
  .bottom-button-container {
      width: 20%;
  }

  .bottom-button {
      display: block !important;
      border-top: 3px solid lightgrey !important;
      border-left: none !important;
      border-right: none !important;
      color: grey;
      padding-top: 20%;
      }

  .activebutton {
      border-top: 3px solid #0bbe32 !important;
      color: #0bbe32 !important;
  }
  

  @media screen and (max-width: 400px) {

      .bottom-button {
	  padding-top: 15%;
	  font-size: 0.8em;
	  }


  }

  
  .view {
      height: 500px;
      }
</style>

<script>
export default {
  name: 'Profile',
  data () {
  return {
  name: 'Nguyễn Văn A',
  avatar: "https://bulma.io/images/placeholders/96x96.png",
  asset: '100.000.000',
  profit: '10.000.000',
      rate: '+10%',
      activeButton: 2,
}
  },
    methods: {
	open0: function() {
	    this.activeButton = 0 
	},
	open1: function() {
	    this.activeButton = 1
	},
	open2: function() {
	    this.activeButton = 2
	},
	open3: function() {
	    this.activeButton = 3
	},
	open4: function() {
	    this.activeButton = 4
	    }
    }
    
}
</script>
