<template>
  <div>
    <b>Rut tien</b>

    <div class="page1" v-if="show1">
      <p>So tien co the rut: <input class="input" value="10000000"></p>
      <p>So tien rut: <input class="input" value="50000000"></p>
    </div>
    <div class="page2" v-else-if="show2">
      <p>So tien rut: <input class="input" value="5000000"></p>
      <p>Nhap OTP:<input class="input" value="abc xyz"> </p>

    </div>

    <div class="page3" v-else>
      <i class="fa fa-check"></i>
      <p> Ban da rut thanh cong!</p>
      <b> 5 000 000 d</b>
      
      </div>

    <a class="button is-info" @click="toggle">{{label}}</a>
    
  </div>
</template>
<script>

  export default {
  name: 'Ruttien',
  data(){
  return {
  show1: true,
  show2: false,
  label: 'Thuc hien',
  }
  },
  methods: {
  toggle() {
  this.show1 = !this.show1;
  this.show2 = !this.show2;
  if (this.show1 == true) {
  this.label = 'Thuc hien'
  } else if (this.show2 == true) {
  this.label = 'Quay ve'
  } else {
  this.label = 'Hoan thanh'
  }
  }
  }

  }
  
</script>
