<template>
  <div>
    
    <table class="table is-fullwidth is-bordered tab-menu">
      <tr>
	<td v-bind:class="{activetabmenu: show1}" @click="showPage1"> <b>Tai san</b>  </td>
	<td v-bind:class="{activetabmenu: !show1}" @click="showPage2"> <b>Danh muc</b> </td>
	</tr>
</table>
    
    
    <div class="page1" v-if="show1">

      <table class="table is-striped is-hoverable is-fullwidth">
	     <tbody>
	       <thead></thead>
	       <tr v-for="row in table">
		 <td>{{row.name}}</td>
		 <td class="right-cell">{{row.number}} d</td>
	       </tr>
	       </tbody>

      </table>
      
      
      
    </div>
    <div class="page2" v-else>
    
    <table class="table is-fullwidth">

	<tr v-for="element in list">

	  
	    <td class="left-cell">
	      <b> {{ element.name }}</b> 
	      <p> Ty le von / gia tri dau tu: {{ element.rate }}</p>
	    </td>
	    <td class="right-cell">
	      <p> {{ element.number }} </p>
	      <p v-bind:style="{color: element.isprofit}">{{ element.profit }} d ({{ element.grow }})</p>
	    </td>
	   
	</tr>
</table>

    </div>
    

    </div>
  
</template>

<style>
  .tab-menu tr td {
  text-align: center;
  cursor: pointer;
  background-color: lightgrey;
  
  }

  .left-cell {
  text-align: left;
  margin-left: 2%;
  
  }
  .right-cell {

  text-align: right;
  margin-right: 2%;
  }

  .activetabmenu {
  background-color: green !important;
  color: white;

  }

  </style>
<script>

  let assets = [
  {
  name: 'Tong tai san',
  number: '100.000.000',
  },
  {
  name: 'Von dau tu',
  number: '100.000.000',
  },
  {
  name: 'Gia tri dau tu',
  number: '110.000.000',
  },
  {
  name: 'So du tai khoan',
  number: '10.000.000',
  },
  {
  name: 'So tien cho ve',
  number: '10.000.000',
  },
  {
  name: 'So tien duoc rut',
  number: '10.000.000',
  }
  
  ]
  
  let elements = [
  {
  name: 'ETFVN30',
  number: '100.000.000',
  rate: '30%',
  profit: '+10000000',
  isprofit: 'green',
  grow: '+10%'
  },
  {
  name: 'VFM4',
  number: '100000000',
  rate: '30%',
  profit: '-10000000',
  isprofit: 'red',
  grow: '-10%'
  },
  {
  name: 'ETFVN30',
  number: '100000000',
  rate: '30%',
  profit: '+10000000',
  isprofit: 'green',
  grow: '+10%'
  }
  ]

  
  
  export default {
  name: 'Taikhoan',
  data () {
  return {
  show1: false,
  list: elements,
  table: assets,
  }
  },
  methods: {
  showPage1(){
  this.show1 = true
  },
  showPage2(){
  this.show1 = false
  },
  
  }

  }

  
  
  </script>
