<template>
<div>
  <b class="runner"> Uu dai danh rieng cho ban<br> </b><br>

  <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Chia se lien tay, nhan ngay tien thuong
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
<p>Nhan toi 100k khi chia se ung dung cho ban be</p>

    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Tham gia ngay!</a>
  </footer>
</div>
  
  <h2 class="title"> Khuyen mai chung </h2>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Lan nap dau tien
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Nhan ngay 10k khi nap tien vao tai khoan lan dau.
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Tham gia ngay</a>
  </footer>
</div>
  </div>
  </template>
<style scoped>
  .runner{
  text-align: left;
  }
</style>
