<template>
  <div><div class="runner">
    <b> Tong hop </b></div>
    <table class="table is-striped is-hoverable is-fullwidth">
<tbody>
  <tr><td><router-link to="/Profile/canhan">Thong tin ca nhan</router-link></td> </tr>
  <tr><td><router-link to="/Profile/ruttien">Rut tien </router-link></td></tr>
  <tr><td><router-link to="/Profile/ungtien">Ung tien </router-link></td></tr>
  <tr><td><router-link to="/Profile/huongdan">Huong dan su dung </router-link></td></tr>
  <tr><td><router-link to="/Profile/doimatkhau">Doi mat khau </router-link></td></tr>
  <tr><td><router-link to="/Profile/faq">Cac cau hoi thuong gap </router-link></td></tr>
  <tr><td><router-link to="/Profile/ykien">Y kien khach hang </router-link></td></tr>
  <tr><td><router-link to="/Profile/lienhe">Lien he </router-link></td></tr>
      
</tbody>
      
    </table>
  
  </div>
</template>

<style scoped>
  .runner {
  text-align: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid grey;
  }
  </style>
