<template>
  <div>
    <b> Ung tien </b>
    <div v-if="show1 == true">
      <p> So tien dang cho ve: <input class="input" value="10000000"> </p>
      <p> So tien ung: <input class="input" :value="amount"></p>
      <p> Phi ung tien: <input class="input" value="5000"></p>
    </div>
    <div v-else-if="show2 == true">
      <p> So tien ung: <input class="input" :value="amount"></p>
      <p> Nhap OTP: <input class="input" value="abcdef"></p>
    </div>
    <div v-else>
      <i class="fa fa-check"></i>
      <p>Ban da ung tien thanh cong<br>
	{{amount}} d </p>
    
    </div>
    <a class="button is-primary" @click="toggle">{{label}}</a>
</div>
</template>
<script>

  export default {
  name: 'Ungtien',
  data(){
  return {
  amount: 5000000,
  show1: true,
  show2: false,
  label: 'Thuc hien',
  }
  },
  methods: {
  toggle() {
  if (this.show1 == true) {
  this.show1 = false;
  this.show2 = true;
  this.label = 'Xac nhan';
  } else if (this.show2 == true) {
  this.show1 = false;
  this.show2 = false;
  this.label = 'Dong lai';
  } else {

  }
  }
  }
  

  }
  
</script>
