<template>
  <div>
<b> Y kien khach hang </b>
<table class="table">
  <tbody>

    <tr v-for="element in list"><td>
	<figure class="image is-96x96">
	  <img class="is-rounded" :src="element.avatar">
	  </figure>
	<span v-for="index in element.star">                                                     <i class="fas fa-star icon-star icon-large icon-d" style="color:yellow"></i></span><br>

	{{ element.comment}}
	
    </td> </tr>
    
  </tbody>
</table>


</div>
</template>

<script>

  let feedbacks = [
  {
  avatar: "https://bulma.io/images/placeholders/96x96.png",
  star: 4,
  comment: 'lorem'
  },
  {
  avatar: "https://bulma.io/images/placeholders/96x96.png",
  star: 5,
  comment: 'lorem'
  }

  ]

  export default {
  name: 'Ykien',
  data(){
  return {
  list: feedbacks
  }
  }

  }
  
</script>
